# ==============================
# Python Backend
# ==============================

backend/venv/
__pycache__/
*.pyc
.pytest_cache/

# Environment Variables
.env


# ==============================
# React Frontend
# ==============================

frontend/node_modules/
frontend/dist/
build/


# ==============================
# Uploaded Files (if any)
# ==============================

uploads/


# ==============================
# Logs
# ==============================

*.log


# ==============================
# Operating System Files
# ==============================

.DS_Store
Thumbs.db


# ==============================
# Editor Settings
# ==============================

.vscode/